/* Home.css */
.home {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100vh;
  background: #1F202A;
  color: #B8B9B9;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 80px 20px 20px;
  user-select: none;
}

.left-section {
  width: 350px;
  margin-right: 80px;
}

.right-section {
  width: calc(100% - 390px);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.projects-container {
  background: #23242F;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.right-section h2 {
  font-size: 1.5rem;
  margin-bottom: 0px;
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.loading {
  color: #888;
  font-size: 0.9rem;
  padding: 20px;
  text-align: center;
  width: 100%;
}

