/* Card.css */
.card {
  background: #282A36;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(255, 255, 255, 0.1);
  text-align: center;
  transition: all 0.3s ease;
  width: 100%;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(255, 255, 255, 0.2);
}

.username {
  font-size: 1.3rem;
  font-weight: 600;
}

.tagline {
  color: #bbb;
  font-size: 0.8rem;
  margin-top: 10px;
}

